 <html>
 <head>
 <style>
        h1 { 
             font-size: 50px;
             color: orange;
     font-family: "Times New Roman";
     div.ex2 {       
   max-width:500px;
    margin: auto;
    border: 3px solid #73AD21;

      }
      #circle {
        height: 100px;
        width: 100px;
        border: 50%;
        background-color: red;
      } 
      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
     
     a:link {
    color: red;
}


a:visited {
    color: green;
}
  a:hover {
  color:red;
}
<style>
body {
    background-color: white;
    color:black;
}
MARQUEE{       
	background-image: url("http://thumb101.shutterstock.com/display_pic_with_logo/3547946/363825113/stock-vector-rectangle-gradient-screen-tone-with-white-dots-on-black-background-monochrome-simple-vector-graphic-363825113.jpg"); 
}
h1 {
	background-image: url("http://il3.picdn.net/shutterstock/videos/12355802/thumb/1.jpg");
}
div.ex2 {
    position:absolute;
    width:600px;
    height:800px;
    background-color:green;
    color:black;
    margin: 15;
    border: 3px solid #73AD21;
}
div.ex1 {
    position:absolute left top ;
    width:600px;
    height:800px;
    background-image:url("http://il3.picdn.net/shutterstock/videos/12355802/thumb/1.jpg");
     color:black;
    margin: 640px;
    border: 3px solid #73AD21;
}
#circle {
        height: 100px;
        width: 200px;
        border-radius: 50%;
        background-color: red;
      } 
            
</style>

</style>
</head>
</html>
       
