
        h1 { 
             font-size: 50px;
             color: orange;
     font-family: "Times New Roman";
     div.ex2 {       
   max-width:500px;
    margin: auto;
    border: 3px solid #73AD21;

      }
      #circle {
        height: 100px;
        width: 100px;
        border: 50%;
        background-color: red;
      } 
      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
     
     a:link {
    color: red;
}


a:visited {
    color: green;
}
  a:hover {
  color:red;
}
